img {
  width: 150px;
}
.product img {
  width: 240px;
  height: 150px;
}

header{
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #ab2a19;
  top: 0;
  z-index: 2;
}

header h1 {
  padding-left: 10px;
  align-content: center;
  font-family: Open-Sans, sans-serif;
  background-color: #AB2A19;
  font-size: 23px;
  color: white;
}

.dashboard{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  align-items: flex-start;
  height:800px;
  width:300px;
  padding-top: 70px;
}

.body{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
}

.form{
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height:800px;
  width:300px;

}

.inputs{
  display:flex;
  flex-direction: column;

}

.name{
display:flex;

}
.product{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.product-name-price {
  padding-left: 10px;
}